.card-login {
    padding: 30px 0 0 0;
    width: 350px;
    margin: 0 auto;
}

.card-pedidos {
    padding: 30px 0 0 0;
    width: 100%;
    margin: 0 auto;
}

.card-produto {
    padding: 30px 0 0 0;
    width: 100%;
    margin: 0 auto;
}